
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background: #fff;
  position: relative;
  z-index: 1000; 
}

.logo {
  font-weight: bold;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  cursor: pointer;
  font-weight: bold;
}

.nav-links li:hover{
 color: #007bff;
}

.buttonsHeader {
  display: flex;
  gap: 10px;
}

.btn-link,
.btn-primary,
.admin-btn {
  padding: 6px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-link {
  background: #007bff;
  color: #fff;
}

.btn-primary {
  background: #000;
  color: #fff;
}

.admin-btn {
  background: blueviolet;
  color: #fff;
}

.btn-link:hover,
.btn-primary:hover,
.admin-btn:hover{
opacity: 0.5;
}
.hamburger {
  display: none;
  width: 30px;
  height: 22px;
  position: relative;
  cursor: pointer;
  z-index: 1100; 
}

.hamburger span {
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000;
  left: 0;
  transition: all 0.3s ease;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 9px;
}

.hamburger span:nth-child(3) {
  top: 18px;
}

/* ☰ → ✖ */
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 9px;
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 9px;
}


@media (max-width: 768px) {
  .hamburger {
    display: block;
    margin-right: 20px;
  }

  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #89d499 !important;

    flex-direction: column;
    align-items: center;

    max-height: 0;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;

    transition: max-height 0.4s ease, opacity 0.3s ease;
    z-index: 1050;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);

    display: none; 
  }

  .nav.nav-open {
    display: flex; 
    max-height: 500px;
    opacity: 1;
    pointer-events: auto;
  }

  .nav-links {
    flex-direction: column;
    padding: 15px 0;
  }

  .buttonsHeader {
    flex-direction: column;
    width: 90%;
    padding-bottom: 15px;
  }

  .buttonsHeader button {
    width: 30%;
    margin: 0 auto;
  }
}

